{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    [
      "import", [{
        "camel2DashComponentName": false,
        "libraryName": "@material-ui/core",
        "libraryDirectory": "",
        "style": false
      }]
    ]
  ]
}