{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    ["direct-import", [
      "@material-ui/core",
      "react-router-dom"
    ]]
  ]
}